/* === 입력창 (textfield) === */
.todo-input {
    display: flex;
    align-items: center;
    gap: 20px; /* input과 등록하기 버튼 간격 */
    margin-bottom: 20px; /* 아래 TO DO 제목과의 간격 */
}

.todo-input input[type="text"],
.edit-input {
    width: 747px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid #d4d4d8;
    border-radius: 4px;
    font-size: 16px;
    color: #0f172a;
    outline: none;
}

.todo-input input[type="text"]::placeholder {
    color: #9ca3af;
}

/* === 등록하기 버튼 === */
.todo-input button {
    width: 100px;
    height: 40px;
    background-color: #0f172a;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-family: "Pretendard", sans-serif;
    font-weight: 500;
    font-size: 16px;
    /* 행간 */
    line-height: 150%;
    display: flex; /* ✅ 버튼 안을 flex로 */
    align-items: center; /* ✅ 세로 중앙 정렬 */
    justify-content: center; /* ✅ 가로 중앙 정렬 */
    cursor: pointer;
}

.todo-input button:hover {
    background-color: #1e293b;
}
