/* === 입력창 (textfield) === */
.todo-input {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px !important;
}

.todo-input input[type="text"],
.edit-input {
    width: 747px;
    height: 40px;
    padding: 0px 16px;
    border: 1px solid #0f172a;
    border-radius: 4px;
    font-size: 16px;
    color: #0f172a;
    outline: none;
}

.todo-input input[type="text"]::placeholder {
    color: #9ca3af;
}

.todo-input button {
    width: 100px;
    height: 40px;
    background-color: #0f172a;
    color: #ffffff;
    border: 1px, solid #0f172a;
    border-radius: 4px;
    padding: 20px 16px;
    font-family: "Pretendard", sans-serif;
    font-weight: 500;
    font-size: 16px;

    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.todo-input button:hover {
    background-color: #1e293b;
}
